{% extends "base.html" %}

{% block content %}
<style>
div {
  background-image: url('https://cdn.blueswandaily.com//2019/08/iStock-620951116-2000x1200.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<h1 class="title">
    Thanks for using Sunset and Sunrise Times API.
</h1>
<br>
<h2 class="subtitle">
    Module: Cloud Computing
    <br>
    Author: Bharatkumar Surani
    <br>
    Student ID: 190822460
    <br>
    Email: b.v.surani@se19.qmul.ac.uk
</h2>
{% endblock %}