{% extends "base.html" %}

{% block content %}
<style>
div {
  background-image: url('https://miro.medium.com/max/10000/1*Jswy8vCeFRMmy70O-x-QTA.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>

<div class="column is-4 is-offset-4">
    <h3 class="title">Delete User</h3>
        <form method="POST" action="/delete">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Enter User's Email" autofocus="">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Delete User</button>
        </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}